* {
  margin: 0;
  padding: 0;
}

.square {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: black;
  border-radius: 12px;
  transition: all 400ms ease-in-out;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: all 400ms ease-in-out;
}
.active {
  margin-left: 20px;
  background-color: hsl(230, 17%, 14%);
}

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(0, 0%, 100%);
}

body.dark {
  font-family: "Inter", sans-serif;
  background-color: hsl(230, 17%, 14%);
}

.container {
  width: 85vw;
  max-width: 1440px;
  margin: 2rem auto;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.dashboard-header.dark {
  color: hsl(0, 0%, 100%);
}

.top-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.grid {
  background-color: hsl(227, 47%, 96%);
  padding: 1rem 2rem;
  border-radius: 5%;
}

.grid.dark {
  background-color: hsl(228, 28%, 20%);
  color: hsl(0, 0%, 100%);
}

.grid:hover {
  opacity: 0.5;
  cursor: pointer;
}

.grid > div {
  margin-bottom: 1.5rem;
}

.grid > div:nth-child(2) {
  margin-bottom: 0.5rem;
}

.icon-user {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.icon-user > p {
  margin-left: 1rem;
}

.count {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.followers {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-align: center;
}

.followers-today {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}

.facebook {
  border-top: 0.2rem solid hsl(208, 92%, 53%);
}

.twitter {
  border-top: 0.2rem solid hsl(203, 89%, 53%);
}
.instagram {
  border-top: 0.2rem solid orange;
}

.youtube {
  border-top: 0.2rem solid hsl(348, 97%, 39%);
}

/* Top cards End */

.overview {
  margin: 2em 0;
  font-size: 1rem;
}
.overview.dark {
  color: hsl(0, 0%, 100%);
}

.bottom-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.main-grid {
  background-color: hsl(227, 47%, 96%);
  padding: 1.5rem 1.5rem;
  border-radius: 5%;
}

.main-grid.dark {
  background-color: hsl(228, 28%, 20%);
  color: hsl(0, 0%, 100%);
}

.main-grid:hover {
  opacity: 0.5;
  cursor: pointer;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  font-weight: 300;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.count-bottom {
  font-size: 2rem;
  font-weight: 700;
}

.icon {
  margin-right: 0.6rem;
}

.red {
  color: hsl(356, 69%, 56%);
}
.green {
  color: hsl(163, 72%, 41%);
}
div.bottom div.icon {
  display: flex;
  align-items: flex-end;
}

div.bottom div.icon svg {
  margin-bottom: 0.2rem;
  margin-right: 0.6rem;
}

div.bottom div.icon div {
  font-size: 0.8rem;
}

/* Media Queries */

@media (max-width: 950px) {
  .top-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .bottom-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .top-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .bottom-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .top-container {
    grid-template-columns: 1fr;
  }

  .dashboard-header {
    font-size: 0.8rem;
  }
  .overview {
    font-size: 0.8rem;
  }

  .bottom-container {
    grid-template-columns: 1fr;
  }
}
